* {
	margin: 0;
}

a {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

a:hover{
	color: #ff5722;
}


body {
	background-color: #e3e3e3;
}

header {
	background-color: #222831;
	color: white;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0%;
}

#maintext {
  margin-top: 15%;
  margin-left: 5%;
}

#maintext h1 {
  font-size: 6.5vh;
  width: 45%;
}

#maintext em {
  font-weight: bold;
  font-size: 7vh;

}

#maintext p {
  width: 45%;
  margin-top: 1%;
  font-size: 2.5vh;
}

header #btn {
  background-color: #ff5722;
  width: 45%;
  padding: 2vh;
  text-align: center;
  display: inline-block;  
  border-radius: 75px;
  transition: 0.35s;
  margin-top: 1.5%;
  text-decoration: none;
  font-size: 2.5vh;
}

header #btn:hover {
  background-color: white;
  color: #ff5722;
  transition: 0.35s;
}

#gradient {
	background: rgb(255,87,34);
	background: linear-gradient(248deg, rgba(255,87,34,1) 5%, rgba(255,255,255,0) 82%); 
	width: 100%;
	height: 100%;
	top: 0%;
	position: absolute;
}

#bg {
  position: absolute;
  top: 0%;
  height: 100vh;
  opacity: 0.4  ;
}

/* BARRE DE NAVIGATION */

.nav-bar {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #222831;
}

.nav-bar li {
  float:left;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 3vh 3vh;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: #36393e;
}

.nav-bar li .active {
	font-weight: bold;
	color: #ff5722;
}

#qr {
  float:right;
}

#qr a {
  color: #222831;
}

#qr a:hover {
  color: #272a31;
  background-color: #272a31;
}
